* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6C9286;
    color: #F7F7F7;
    font-family: sans-serif;
    font-size: 2vw;
}

header {
    background-color: #1D4355;
    height: 15vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 7vw;
    padding: 10vw 0;
}

p {
    margin-bottom: 5vw;
}

figcaption {
    text-align: center;
}

a {
    color: #F7F7F7;
    text-decoration: none;
}

#logo {
    height: 20vh;
    margin: 4vh 6vw;
}

#nav-bar {
    display: flex;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 3vw;
}

#nav-bar li a {
    color: #41C1BA
}

#nav-bar li #current-page {
    color: #F7F7F7;
}

#content {
    margin: 0 10vw;
    padding-top: 25vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

#content-left {
    grid-column: 1;
    text-align: right;
    padding-right: 1.75em;
}

#content-right {
    grid-column: 2;
    text-align: left;
    padding-left: 1.75em;
}

.content-vert-centered {
    padding-top: 30%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: top;
    justify-items: center;
    padding: 0 5vw;
}

.gallery-item {
    width: 22vw;
    margin-top: 3vw;
}

.gallery-item * {
    width: 100%;
    justify-content: center;
}

.gallery-caption {
    padding: 0 3vw;
}

.gallery-blurb {
    margin: 0;
    font-size: 0.8em;
}

.socials {
    list-style-type: none;
    font-size: 3vw;
}

.socials-heading {
    color:#41C1BA;
    font-size: 3.5vw;
}

.socials li :hover {
    color:#1D4355;
}
